# Node.js
node_modules/
.next/
.npm/
.pnp.*
package-lock.json
yarn.lock
pnpm-lock.yaml

# 环境变量
.env
.env.local
.env.*.local

# 构建产物
dist/
out/
*.log
coverage/

# 编辑器
.vscode/
.idea/
.DS_Store

# pl-pipeline 运行时输出
pipeline-output/
